Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)

Added automized position of MTC in the last magnet, fixed python/ShieldUtils.py (backward compatible)
  SND/MTC/MTCDetector.cxx
  SND/MTC/MTCDetector.h
  geometry/MTC_config.yaml
  python/ShieldUtils.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 72e052d4081432d1cddcbddc332a01f4eb27dff6 🚀
  search/all_15.js
  search/all_6.js
  search/files_3.js
Owners: @ShipSoft/core-developers

updated changelog
  CHANGELOG.md
Owners: @ShipSoft/core-developers

feat(SND/MTC): add first version (#711)
  CHANGELOG.md
  CMakeLists.txt
  SND/MTC/CMakeLists.txt
  SND/MTC/MTCDetector.cxx
  SND/MTC/MTCDetector.h
  SND/MTC/MTCDetectorLinkDef.h
  SND/MTC/MtcDetPoint.cxx
  SND/MTC/MtcDetPoint.h
  geometry/MTC_config.yaml
  geometry/geometry_config.py
  macro/eventDisplay.py
  macro/run_simScript.py
  python/ShieldUtils.py
  python/shipDet_conf.py
  shipdata/ShipDetectorList.h
Owners: @ShipSoft/core-developers

feat(geometry): Make SplitCal the default calorimeter
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

fix(splitcal): Make strips fit into splitcal
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(splitcal): Resize SplitCal to 4×6 m²
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(analysis): remove broken calorimetry from analysis script
  CHANGELOG.md
  macro/ShipAna.py
Owners: @ShipSoft/core-developers

feat(geometry): Make SplitCal the default calorimeter
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

fix(splitcal): Resize SplitCal to 4×6 m²
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(analysis): remove broken calorimetry from analysis script
  CHANGELOG.md
  macro/ShipAna.py
Owners: @ShipSoft/core-developers

fix(splitcal): Make strips fit into splitcal
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Remove all plane-related codes
  macro/flux_map.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDet_conf.py
  python/shipDigiReco.py
  python/shipPatRec.py
  python/shipStrawTracking.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubes_single.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Create StrawDecode as a function to be deployed elsewhere
  macro/flux_map.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDigiReco.py
  python/shipPatRec.py
  python/shipStrawTracking.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Fix straw ID construction
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.h
Owners: @wcmartylee

Remove confusing alienv option from README
  README.md
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 627f4977188d9d519707fdcc02f6d120322ce6aa 🚀
  md_README.html
Owners: @ShipSoft/core-developers

move old target to yaml config
  geometry/geometry_config.py
  geometry/target_config_old.yaml
Owners: @ShipSoft/core-developers

Fix layer box z-translation
  strawtubes/strawtubes.cxx
Owners: @wcmartylee

move old target config to yaml
  geometry/geometry_config.py
  geometry/target_config_old.yaml
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Fix 'too many values to unpack'
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Fix yaml to have only numeric values
  geometry/target_config_old.yaml
Owners: @ShipSoft/core-developers

Add targetYaml to ship_geo
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Save calculated target dimensions to ship_geo
  geometry/geometry_config.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

fixup! Save calculated target dimensions to ship_geo
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Fix indexing
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Use old name for target position
  geometry/geometry_config.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Formatting and improving readability
  macro/run_simScript.py
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

Formatting and improving readability
  macro/run_simScript.py
  shipgen/MuDISGenerator.cxx
Owners: @ShipSoft/core-developers

Fixed conflicts
  muonDIS/make_nTuple_SBT.py
  muonDIS/make_nTuple_Tr.py
Owners: @ShipSoft/core-developers

Use python stdlib to expand $FAIRSHIP
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

More conflict annotations fixed
  muonDIS/add_muonresponse.py
  muonDIS/makeMuonDIS.py
Owners: @ShipSoft/core-developers

Add changelog entry
  CHANGELOG.md
Owners: @ShipSoft/core-developers

clang-format
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

Remove unused lines from target config
  geometry/target_config_old.yaml
Owners: @ShipSoft/core-developers

Make tracker station 1 & 2 identical to 3 & 4
  geometry/geometry_config.py
  python/shipDet_conf.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Remove plane-related variables
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Removed unnecessary lines
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

Update StrawDecode and GetStation
  macro/flux_map.py
  muonDIS/make_nTuple_Tr.py
  python/shipDigiReco.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Remove extra definition of statnb
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesPoint.cxx
Owners: @wcmartylee
