Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)

Add whitespace
  geometry/geometry_config.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Remove additional comment
  strawtubes/strawtubes.cxx
Owners: @wcmartylee

Fix straw argparse argument
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Output error to log warning
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.cxx
Owners: @wcmartylee

obtain tauMuDet z position from muonshield position and length
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Fix straw argparse argument
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Remove straw veto station
  CHANGELOG.md
  geometry/geometry_config.py
  macro/ShipAna.py
  macro/run_simScript.py
  python/shipDet_conf.py
  python/shipDigiReco.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Output error to log warning
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.cxx
Owners: @wcmartylee

Add whitespace
  geometry/geometry_config.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Remove additional comment
  strawtubes/strawtubes.cxx
Owners: @wcmartylee

update CHANGELOG
  CHANGELOG.md
Owners: @ShipSoft/core-developers

Update geometry/geometry_config.py
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Remove Tracker Dependences from TauMuDet Position (#716)
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 6c74dbb080ed5b427efa3d7cbdd282301fba3bbe 🚀
  geometry__config_8py_source.html
  md_CHANGELOG.html
Owners: @ShipSoft/core-developers

Update tracker station z positions
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Define distances between trackers
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Define UBT z position directly
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Return old z4 and add comment
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Fix timing, split cal & HCAL to their permanent position
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update z of spectrometer magnet
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update line in changelog
  CHANGELOG.md
Owners: @ShipSoft/core-developers

remove digi_UBT branch from reco file
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

Update TimeDet, old ECAL position
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

remove digi_UBT branch from reco file
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

Add whitespace
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Include FairLogger.h
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.cxx
Owners: @wcmartylee

Update TimeDet, old ECAL position
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Define distances between trackers
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Add whitespace
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update tracker station z positions
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Define UBT z position directly
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update z of spectrometer magnet
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Return old z4 and add comment
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Fix timing, split cal & HCAL to their permanent position
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update line in changelog
  CHANGELOG.md
Owners: @ShipSoft/core-developers

Include FairLogger.h
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.cxx
Owners: @wcmartylee

Deploying to gh-pages from @ b3744f8029a575e5c563afa949a39db556961a15 🚀
  classstrawtubes.html
  classstrawtubesHit.html
  search/all_15.js
  search/all_6.js
  search/files_3.js
  strawtubesHit_8cxx.html
  strawtubesHit_8cxx__incl.map
  strawtubesHit_8cxx__incl.md5
  strawtubesHit_8cxx__incl.png
  strawtubesHit_8cxx_source.html
  strawtubesHit_8h_source.html
  strawtubes_8cxx.html
  strawtubes_8cxx__incl.map
  strawtubes_8cxx__incl.md5
  strawtubes_8cxx__incl.png
  strawtubes_8cxx_source.html
  strawtubes_8h_source.html
  strawtubes__single_8cxx_source.html
Owners: @ShipSoft/core-developers

Update geometry/geometry_config.py
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update macro/run_simScript.py
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

new snd folder, no stl
  CMakeLists.txt
  SND/MTC/CMakeLists.txt
  SND/MTC/MTCDetector.cxx
  SND/MTC/MTCDetector.h
  SND/MTC/MTCDetectorLinkDef.h
  SND/MTC/MtcDetPoint.cxx
  SND/MTC/MtcDetPoint.h
  geometry/MTC_config.yaml
  geometry/geometry_config.py
  macro/eventDisplay.py
  macro/run_simScript.py
  nutaudet/MTCDetector.cxx
  nutaudet/nutaudetLinkDef.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers, @antonioiuliano2
