Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)

constants defined in .cxx instead of .h
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

add CHANGELOG entry for MuonDIS
  CHANGELOG.md
Owners: @ShipSoft/core-developers

add Carbon to PDG in run_simScript
  macro/run_simScript.py
  muonDIS/makeMuonDIS.py
Owners: @ShipSoft/core-developers

Add inspect tables + fix issues with adding iMuon vetoPoints
  muonDIS/add_muonresponse.py
  muonDIS/makeMuonDIS.py
Owners: @ShipSoft/core-developers

remove bug/allow saving multiple muons per event
  muonDIS/makeMuonDIS.py
  muonDIS/make_nTuple_SBT.py
  muonDIS/make_nTuple_Tr.py
Owners: @ShipSoft/core-developers

Added MuonDIS directory for updated scripts
  macro/run_simScript.py
  muonDIS/add_muonresponse.py
  muonDIS/makeMuonDIS.py
  muonDIS/make_nTuple_SBT.py
  muonDIS/make_nTuple_Tr.py
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

Save DIS cross to MCTrack[1]
  shipgen/MuDISGenerator.cxx
Owners: @ShipSoft/core-developers

Avoid listdir for non-directory case
  muonDIS/add_muonresponse.py
  muonDIS/makeMuonDIS.py
  muonDIS/make_nTuple_SBT.py
  muonDIS/make_nTuple_Tr.py
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

Timing Implementation of MuDIS
  macro/run_simScript.py
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

Update macro/run_simScript.py
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

edit run_simScript to inactivate Muon Nuclear for MuDIS
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

lower MCTrack Energy Cut for MuonDIS in run_simScript
  macro/run_simScript.py
  python/shipRoot_conf.py
Owners: @ShipSoft/core-developers

use array instead of ROOT std vector
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Add scalar branch to save CrossSection for muonDIS
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

use temp file to save, instead of 'update' mode
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

use context manager for clean up
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

correct default settings within geometry_config
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

added Value error
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

raise ValueError if DecayVolumeMedium not defined (old files)
  geometry/geometry_config.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

fix SND default
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

raise ValueError if DecayVolumeMedium not defined (old files)
  geometry/geometry_config.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

added Value error
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

correct default settings within geometry_config
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix SND default
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Add CHANGELOG entry
  CHANGELOG.md
Owners: @ShipSoft/core-developers

minor fixes
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Add CHANGELOG entry
  CHANGELOG.md
Owners: @ShipSoft/core-developers

Add scalar branch to save CrossSection for muonDIS (#657)
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @ShipSoft/core-developers

Add CHANGELOG entry for removing support for old geometries (#669)
  CHANGELOG.md
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 90f637a15b969894148c2cb987fd36a818457475 🚀
  md_CHANGELOG.html
Owners: @ShipSoft/core-developers

keep only NuTauTargetDesign 3 and 4
  geometry/geometry_config.py
  macro/run_simScript.py
  nutaudet/EmulsionMagnet.cxx
  nutaudet/HPT.cxx
  nutaudet/MagneticSpectrometer.cxx
  nutaudet/NuTauMudet.cxx
  nutaudet/Target.cxx
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers, @antonioiuliano2

fix: Don't use TFile's deprecated attribute syntax
  CHANGELOG.md
  examples/analysis_example.py
  macro/ShipAna.py
  macro/ShipReco.py
  macro/getGeoInformation.py
  macro/inspectGeant4Geo.py
  macro/run_simScript.py
  muonShieldOptimization/ana_ShipMuon.py
  muonShieldOptimization/compactingBackgroundProduction.py
  muonShieldOptimization/extractMuonsAndUpdateWeight.py
  muonShieldOptimization/extractNeutrinosAndUpdateWeight.py
  muonShieldOptimization/radio.py
  muonShieldOptimization/run_fixedTarget.py
  muonShieldOptimization/study_GammaConv.py
  muonShieldOptimization/study_muEloss.py
  muonShieldOptimization/study_muMSC.py
  muonShieldOptimization/study_thinTarget.py
  python/experimental/analysis_toolkit.py
  python/rootUtils.py
  python/shipDigiReco.py
  python/shipStrawTracking.py
Owners: @ShipSoft/core-developers

Committing suggestions about old configuration removal
  geometry/geometry_config.py
  macro/run_simScript.py
  nutaudet/EmulsionMagnet.cxx
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers, @antonioiuliano2

fixing tab indentation error
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

updating CHANGELOG
  CHANGELOG.md
Owners: @ShipSoft/core-developers

Fixing comment syntax in nutaudet/Target.cxx
  nutaudet/Target.cxx
Owners: @antonioiuliano2

Operator Spacing in shipDet_conf.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

chore(CI): add SND to CI matrix
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

fix: Don't use TFile's deprecated attribute syntax
  CHANGELOG.md
  examples/analysis_example.py
  macro/ShipAna.py
  macro/ShipReco.py
  macro/getGeoInformation.py
  macro/inspectGeant4Geo.py
  macro/run_simScript.py
  muonShieldOptimization/ana_ShipMuon.py
  muonShieldOptimization/compactingBackgroundProduction.py
  muonShieldOptimization/extractMuonsAndUpdateWeight.py
  muonShieldOptimization/extractNeutrinosAndUpdateWeight.py
  muonShieldOptimization/radio.py
  muonShieldOptimization/run_fixedTarget.py
  muonShieldOptimization/study_GammaConv.py
  muonShieldOptimization/study_muEloss.py
  muonShieldOptimization/study_muMSC.py
  muonShieldOptimization/study_thinTarget.py
  python/experimental/analysis_toolkit.py
  python/rootUtils.py
  python/shipDigiReco.py
  python/shipStrawTracking.py
Owners: @ShipSoft/core-developers
