Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

Add (optional) MgB2 field map
  CHANGELOG.md
  files/2025_02_12_SHiP_SpectrometerField_ECN3_MgB2.root
Owners: @ShipSoft/core-developers

Allow specifying spectrometer field map
  CHANGELOG.md
  field/MainSpectrometerField.txt
  geometry/geometry_config.py
  macro/run_simScript.py
  python/geomGeant4.py
Owners: @ShipSoft/core-developers

Add (optional) MgB2 field map
  CHANGELOG.md
  files/2025_02_12_SHiP_SpectrometerField_ECN3_MgB2.root
Owners: @ShipSoft/core-developers

AddressOf is outdated function in ROOT, changed with addressof (in field/)
  CHANGELOG.md
  field/convertMap.py
  field/convertMisisMap.py
  field/convertNoisyMap.py
  field/convertRALMap.py
Owners: @ShipSoft/core-developers

AddressOf is outdated function in ROOT, changed with addressof (in field/)
  CHANGELOG.md
  field/convertMap.py
  field/convertMisisMap.py
  field/convertNoisyMap.py
  field/convertRALMap.py
Owners: @ShipSoft/core-developers

ShipBFieldMap: Added LOG info and fatal (ref bug #612)
  CHANGELOG.md
  field/ShipBFieldMap.cxx
Owners: @ShipSoft/core-developers

fix(ShieldUtils.py): The fieldmap offset was calibrated with the old version of MS
  CHANGELOG.md
  python/ShieldUtils.py
Owners: @ShipSoft/core-developers

New parametrization of the MS and clean up of old legacy
  CHANGELOG.md
  geometry/geometry_config.py
  macro/run_simScript.py
  passive/ShipMuonShield.cxx
  passive/ShipMuonShield.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ d2d2406d567487bac28b51af93fa80c5c717b1e9 🚀
  convertMap_8py_source.html
  convertMisisMap_8py_source.html
  convertNoisyMap_8py_source.html
  convertRALMap_8py_source.html
  md_CHANGELOG.html
  namespaceconvertMap.html
  namespaceconvertMisisMap.html
  namespaceconvertNoisyMap.html
  namespaceconvertRALMap.html
Owners: @ShipSoft/core-developers

ShipBFieldMap: Added LOG info and fatal (ref bug #612)
  CHANGELOG.md
  field/ShipBFieldMap.cxx
Owners: @ShipSoft/core-developers

New parametrization of the MS and clean up of old legacy
  CHANGELOG.md
  geometry/geometry_config.py
  macro/run_simScript.py
  passive/ShipMuonShield.cxx
  passive/ShipMuonShield.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

fix(ShieldUtils.py): The fieldmap offset was calibrated with the old version of MS
  CHANGELOG.md
  python/ShieldUtils.py
Owners: @ShipSoft/core-developers

chore(CI): Add supported muon shield options to matrix
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

feat(geometry): Remove 2018, 2022 global designs
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 2d0ee355bdb6fb0674fd2ccb10ac016bbf17f2b0 🚀
  classCosmicsGenerator.html
  classEvtCalcGenerator.html
  classFixedTargetGenerator.html
  classGenieGenerator.html
  classHpt.html
  classMagneticSpectrometer.html
  classMuonBackGenerator.html
  classNuTauMudet.html
  classNuageGenerator.html
  classShipFieldMaker.html
  classShipGeoCave.html
  classShipGoliath.html
  classTarget.html
  classTargetTracker.html
  classTimeDet.html
  classTimeDetHit.html
  classUpstreamTagger.html
  classecal.html
  classecalAnalysisSimple.html
  classecalClusterFinder.html
  classecalMaximumLocator.html
  classexitHadronAbsorber.html
  classgenfit_1_1FairShipFields.html
  classhcal.html
  classhcalAnalysisSimple.html
  classmuon.html
  classsimpleTarget.html
  classsplitcal.html
  classstrawtubes.html
  classtPythia6Generator.html
  classveto.html
  md_CHANGELOG.html
  namespacerun__simScript.html
  run__simScript_8py_source.html
  strawtubes__single_8cxx_source.html
Owners: @ShipSoft/core-developers

fix(run_simScript.py): only allow valid muon shield options
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

feat!(run_simScript.py): remove --muShieldDesign flag
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

fix(geometry): remove internal uses of muShieldDesign
  geometry/geometry_config.py
  macro/run_simScript.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Update tracker station z positions
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(run_simScript.py): only allow valid muon shield options
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

fix(geometry): remove internal uses of muShieldDesign
  geometry/geometry_config.py
  macro/run_simScript.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

feat!(run_simScript.py): remove --muShieldDesign flag
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

chore(CI): Add supported muon shield options to matrix
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

feat(geometry): Make SplitCal the default calorimeter
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

fix(splitcal): Make strips fit into splitcal
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(splitcal): Resize SplitCal to 4×6 m²
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

separate configs
  macro/engineParameters.py
  macro/run_sim_test.py
Owners: @ShipSoft/core-developers

not yet tried compiling!
  macro/engineParameters.py
  macro/run_sim_test.py
  shipgen/shipgen_parameters.yaml
Owners: @ShipSoft/core-developers

chore(python): move experimental scripts to experimental
  python/experimental/engineParameters.py
  python/experimental/run_sim_test.py
Owners: @ShipSoft/core-developers

chore(python): ruff format experimental scripts
  python/experimental/engineParameters.py
  python/experimental/run_sim_test.py
Owners: @ShipSoft/core-developers

fix(shipgen): fix errors in yaml
  shipgen/shipgen_parameters.yaml
Owners: @ShipSoft/core-developers

fix(analysis): remove broken calorimetry from analysis script
  CHANGELOG.md
  macro/ShipAna.py
Owners: @ShipSoft/core-developers

WiP: ClonesArray fixes
  TimeDet/TimeDetHit.h
  macro/ShipAna.py
  python/shipDigiReco.py
  python/shipPid.py
  python/shipVertex.py
Owners: @ShipSoft/core-developers

Added MTC with yaml description, added an SNDDesign key in run_simScript.py
  geometry/MTC_config.yaml
  geometry/geometry_config.py
  macro/run_simScript.py
  nutaudet/CMakeLists.txt
  nutaudet/MTCDetector.cxx
  nutaudet/MTCDetector.h
  nutaudet/MTCdetPoint.cxx
  nutaudet/MTCdetPoint.h
  nutaudet/nutaudetLinkDef.h
  python/shipDet_conf.py
  shipdata/ShipDetectorList.h
Owners: @ShipSoft/core-developers, @antonioiuliano2

style: clang-format touched lines
  nutaudet/MTCDetector.cxx
  nutaudet/MTCDetector.h
  nutaudet/MTCdetPoint.cxx
  nutaudet/MTCdetPoint.h
  shipdata/ShipDetectorList.h
Owners: @antonioiuliano2, @ShipSoft/core-developers

scifi in the fairroot
  geometry/MTC_config.yaml
  geometry/geometry_config.py
  macro/run_simScript.py
  nutaudet/MTCDetector.cxx
  nutaudet/MTCDetector.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers, @antonioiuliano2

stl vectors
  geometry/MTC_config.yaml
  macro/eventDisplay.py
  nutaudet/CMakeLists.txt
  nutaudet/MTCDetector.cxx
  nutaudet/MTCDetector.h
  nutaudet/MTCdetPoint.cxx
  nutaudet/MTCdetPoint.h
  nutaudet/nutaudetLinkDef.h
  python/shipDet_conf.py
  shipdata/ShipDetectorList.h
Owners: @ShipSoft/core-developers, @antonioiuliano2

applied changes
  geometry/geometry_config.py
  nutaudet/MTCDetector.cxx
  nutaudet/nutaudetLinkDef.h
Owners: @ShipSoft/core-developers, @antonioiuliano2

Remove straw veto station
  CHANGELOG.md
  geometry/geometry_config.py
  macro/ShipAna.py
  macro/run_simScript.py
  python/shipDet_conf.py
  python/shipDigiReco.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Deploying to gh-pages from @ ec9c5b66550d2c7b6d260df4c74bfc538418fce8 🚀
  search/all_15.js
  search/all_6.js
  search/files_3.js
Owners: @ShipSoft/core-developers

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)
