Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

run_simScript update for MyGen
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

run_simScript update for MyGen
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

CMake fix
  CMakeLists.txt
Owners: @ShipSoft/core-developers

fixup! feat(python): Add experimental script to import Muons and Matter pkl files
  python/experimental/eminem_importer.py
Owners: @ShipSoft/core-developers

feat(shipgen): Add generator to read M&M ntuples
  CHANGELOG.md
  shipgen/CMakeLists.txt
  shipgen/GenLinkDef.h
  shipgen/TTreeGenerator.cxx
  shipgen/TTreeGenerator.h
Owners: @ShipSoft/core-developers

feat(macro): Add --ttree option to run_simScript
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

NtupleGen fix
  shipgen/NtupleGenerator.h
Owners: @ShipSoft/core-developers

Allow adding scoring planes
  muonShieldOptimization/CMakeLists.txt
  muonShieldOptimization/ScoringPlane.cxx
  muonShieldOptimization/ScoringPlane.h
  muonShieldOptimization/muonShieldBackgroundLinkDef.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

make shiptarget class more flexible to have also varying gap sizes for He-cooled version
  geometry/geometry_config.py
  geometry/target_config_Jun25.yaml
  geometry/target_config_old.yaml
  muonShieldOptimization/run_fixedTarget.py
  passive/ShipTargetStation.cxx
  passive/ShipTargetStation.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Create new MS design for new HA design
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Create new MS design for new HA design
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(geometry): Move yoke pit
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

fixup! fix(geometry): Move yoke pit
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

fixup! fixup! fix(geometry): Move yoke pit
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

Update trench position
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

fixup! Update trench position
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

fixup! fixup! Update trench position
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

simplified passing of parameters
  geometry/geometry_config.py
  geometry/target_config_Jun25.yaml
  geometry/target_config_old.yaml
  muonShieldOptimization/run_fixedTarget.py
  passive/ShipTargetStation.cxx
  passive/ShipTargetStation.h
  python/shipDet_conf.py
  python/shipTarget_only.py
Owners: @ShipSoft/core-developers

Only enable scoring plane after MS
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Add weight to TTreeGenerator
  shipgen/TTreeGenerator.cxx
Owners: @ShipSoft/core-developers

config fixes
  geometry/geometry_config.py
  macro/run_simScript.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

tab fix in yaml
  geometry/target_config_Jun25.yaml
Owners: @ShipSoft/core-developers

Create StrawDecode as a function to be deployed elsewhere
  macro/flux_map.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDigiReco.py
  python/shipPatRec.py
  python/shipStrawTracking.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Remove all plane-related codes
  macro/flux_map.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDet_conf.py
  python/shipDigiReco.py
  python/shipPatRec.py
  python/shipStrawTracking.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubes_single.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Fix straw ID construction
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.h
Owners: @wcmartylee

Fix layer box z-translation
  strawtubes/strawtubes.cxx
Owners: @wcmartylee

Remove plane-related variables
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Make tracker station 1 & 2 identical to 3 & 4
  geometry/geometry_config.py
  python/shipDet_conf.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Update StrawDecode and GetStation
  macro/flux_map.py
  muonDIS/make_nTuple_Tr.py
  python/shipDigiReco.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Remove extra definition of statnb
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesPoint.cxx
Owners: @wcmartylee

clang-format
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @wcmartylee

Import ctypes for assigning data types
  muonShieldOptimization/ana_ShipMuon.py
  python/shipPatRec.py
Owners: @ShipSoft/core-developers

Remove unused strawtubes_single
  strawtubes/strawtubes_single.cxx
Owners: @wcmartylee

Update format
  geometry/geometry_config.py
  python/shipDet_conf.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Add examination of valid straw detID
  python/shipDigiReco.py
  python/shipPatRec.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Use tuple for StrawDecode
  macro/flux_map.py
  muonDIS/make_nTuple_Tr.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDigiReco.py
  python/shipPatRec.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Remove StrawEndPoints function in strawtubesHit
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
Owners: @wcmartylee

Move StrawDecode and StrawEndPoints to static
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @wcmartylee

Add lines in CHANGELOG
  CHANGELOG.md
Owners: @ShipSoft/core-developers

decoupling implementation, generator fix
  macro/run_simScript.py
  prestrawdetector/prestrawdetector.cxx
  python/shipDet_conf.py
  shipgen/MyGenerator.cxx
  shipgen/MyGenerator.h
  sstDecouplingTools/sst.csv
Owners: @ShipSoft/core-developers

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)
