Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)

clang-format
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesPoint.h
Owners: @wcmartylee

Bugfix string formatting
  CHANGELOG.md
  shipgen/EvtCalcGenerator.cxx
Owners: @ShipSoft/core-developers

Bugfix string formatting
  CHANGELOG.md
  shipgen/EvtCalcGenerator.cxx
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 447463ba8cca84364f803e080e7afc194f8aff3e 🚀
  EvtCalcGenerator_8cxx_source.html
  classEvtCalcGenerator.html
  md_CHANGELOG.html
Owners: @ShipSoft/core-developers

README added
  macro/run_simScript.py
  sstDecouplingTools/README.md
Owners: @ShipSoft/core-developers

README updated
  sstDecouplingTools/README.md
Owners: @ShipSoft/core-developers

README updated
  sstDecouplingTools/README.md
Owners: @ShipSoft/core-developers

README updated
  sstDecouplingTools/README.md
Owners: @ShipSoft/core-developers

README updated
  sstDecouplingTools/README.md
Owners: @ShipSoft/core-developers

Update last remnant of old StrawDecode
  python/shipStrawTracking.py
Owners: @ShipSoft/core-developers

Remove all plane-related codes in SST (#552)
  CHANGELOG.md
  geometry/geometry_config.py
  macro/flux_map.py
  muonDIS/make_nTuple_Tr.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDet_conf.py
  python/shipDigiReco.py
  python/shipPatRec.py
  python/shipStrawTracking.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.h
  strawtubes/strawtubes_single.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Review of MS params definition and fix some bugs
  CHANGELOG.md
  geometry/geometry_config.py
  passive/ShipMuonShield.cxx
  passive/ShipMuonShield.h
Owners: @ShipSoft/core-developers

Review of MS params definition and fix some bugs
  CHANGELOG.md
  geometry/geometry_config.py
  passive/ShipMuonShield.cxx
  passive/ShipMuonShield.h
Owners: @ShipSoft/core-developers

Fix by Guglielmo
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

fixup! fixup! Move yoke-pit to absolute position
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

Fix comment in geometry_config.py
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Removed old sc_v6 MS design
  .github/workflows/build-run.yml
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

feat(MS): Make the warm muon shield with new hadron absorber the default
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

feat(MS): Make the warm muon shield with new hadron absorber the default
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Removed old sc_v6 MS design
  .github/workflows/build-run.yml
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

feat(geometry): Change coordinate system to z_0 := start of target
  CHANGELOG.md
  geometry/geometry_config.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

fix(geometry): reorder position definitions
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(geometry): move c.z to c.BField.z
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(geometry): remove unused Chamber{2..5}
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

fix(geometry): fix hardcoding of muon shield position
  passive/ShipMuonShield.cxx
  passive/ShipMuonShield.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

fix(geometry): remove unused totalLength
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

feat(geometry): remove TP liquid scintillator variables
  CHANGELOG.md
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

chore(style): clang-format touched lines
  passive/ShipMuonShield.cxx
  passive/ShipMuonShield.h
Owners: @ShipSoft/core-developers

fix(geometry): Move yoke pit
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

Remove unused zset variables
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Remove commented code
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Define absolute position of spectrometer magnet
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update trench position
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

Disable SND for CI
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

Move yoke-pit to absolute position
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

Fix comment in geometry_config.py
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Fix by Guglielmo
  passive/ShipMuonShield.cxx
Owners: @ShipSoft/core-developers

Review MS + Insert Proximity Shielding in Target Area
  CHANGELOG.md
  geometry/geometry_config.py
  passive/ShipMuonShield.cxx
  passive/ShipMuonShield.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

Fixed python/ShieldUtils.py
  CHANGELOG.md
  python/ShieldUtils.py
Owners: @ShipSoft/core-developers

Disable SND for CI
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers
