Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)

chore(CI): add SND to CI matrix
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

chore(CI): add geo information to geo checks
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

Updating instructions to include EvtCalc signal MC generation.
  README.md
Owners: @ShipSoft/core-developers

Updating instructions to include EvtCalc signal MC generation.
  README.md
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 161166c38bc98ed40d0e92064190953c1e26b0c3 🚀
  md_README.html
Owners: @ShipSoft/core-developers

chore(CI): add geo information to geo checks
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

chore(CI): add EventCalc to CI
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

fixup! chore(CI): add EventCalc to CI
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

fixup! chore(CI): add EventCalc to CI
  .github/workflows/build-run.yml
Owners: @ShipSoft/core-developers

UBT simplified to a SP with 4x6m, all reference to RPC remove
  UpstreamTagger/UpstreamTagger.cxx
  UpstreamTagger/UpstreamTagger.h
  UpstreamTagger/UpstreamTaggerHit.cxx
  macro/muBkg_ana.py
  macro/run_simScript.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

fixing c-style cast
  nutaudet/Target.cxx
Owners: @antonioiuliano2

fDesign fixing spacing
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

removing unneeded parentheses
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

move latest SND design to yaml file
  geometry/geometry_config_noSND.py
  geometry/snd_config_old.yaml
  macro/eventDisplay.py
  macro/run_simScript.py
  python/geomGeant4.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

fixing operator spacing
  geometry/geometry_config.py
  nutaudet/Target.cxx
Owners: @ShipSoft/core-developers, @antonioiuliano2

feat(SND): Removing old SND design configurations
  CHANGELOG.md
  geometry/geometry_config.py
  macro/run_simScript.py
  nutaudet/EmulsionMagnet.cxx
  nutaudet/HPT.cxx
  nutaudet/MagneticSpectrometer.cxx
  nutaudet/NuTauMudet.cxx
  nutaudet/Target.cxx
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers, @antonioiuliano2

Advertise analysis-toolkit in README
  README.md
Owners: @ShipSoft/core-developers

Advertise analysis-toolkit in README
  README.md
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ ca5d978983146e170fa4a39bf1d0f06e2381c437 🚀
  md_README.html
Owners: @ShipSoft/core-developers

chore(pre-commit): customise pre-commit commit messages
  .pre-commit-config.yaml
Owners: @ShipSoft/core-developers

chore(pre-commit): customise pre-commit commit messages
  .pre-commit-config.yaml
Owners: @ShipSoft/core-developers

chore(build): remove unnecessary ROOT_INCLUDE_DIR include
  field/CMakeLists.txt
  nutaudet/CMakeLists.txt
Owners: @ShipSoft/core-developers, @antonioiuliano2

Add dump_event function
  examples/analysis_example.py
  python/experimental/analysis_toolkit.py
Owners: @ShipSoft/core-developers

updated CHANGELOG.md
  CHANGELOG.md
Owners: @ShipSoft/core-developers

updated CHANGELOG.md
  CHANGELOG.md
Owners: @ShipSoft/core-developers

Add dump_event function
  examples/analysis_example.py
  python/experimental/analysis_toolkit.py
Owners: @ShipSoft/core-developers

fix(reco): Don't set items of TClonesArray
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

fixup! fix(reco): Don't set items of TClonesArray
  TimeDet/TimeDetHit.h
Owners: @ShipSoft/core-developers

fixup! fix(reco): Don't set items of TClonesArray
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

fixup! fix(reco): Don't set items of TClonesArray
  TimeDet/TimeDetHit.h
  muon/muonHit.h
Owners: @ShipSoft/core-developers

fixup! fix(reco): Don't set items of TClonesArray
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

fixup! fix(reco): Don't set items of TClonesArray
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

build(field,nutaudet): remove unnecessary ROOT_INCLUDE_DIR include
  CHANGELOG.md
  field/CMakeLists.txt
  nutaudet/CMakeLists.txt
Owners: @ShipSoft/core-developers, @antonioiuliano2

build(field,nutaudet): remove unnecessary ROOT_INCLUDE_DIR include
  CHANGELOG.md
  field/CMakeLists.txt
  nutaudet/CMakeLists.txt
Owners: @ShipSoft/core-developers, @antonioiuliano2

Deploying to gh-pages from @ e326331b8e37e295fedc8c0805ddb2a0d9a618f2 🚀
  TimeDet_2CMakeLists_8txt.html
  UpstreamTagger_2CMakeLists_8txt.html
  ecal_2CMakeLists_8txt.html
  field_2CMakeLists_8txt.html
  globals.html
  hcal_2CMakeLists_8txt.html
  md_CHANGELOG.html
  muonShieldOptimization_2CMakeLists_8txt.html
  muon_2CMakeLists_8txt.html
  nutaudet_2CMakeLists_8txt.html
  passive_2CMakeLists_8txt.html
  pid_2CMakeLists_8txt.html
  search/all_16.js
  search/functions_12.js
  shipdata_2CMakeLists_8txt.html
  shipgen_2CMakeLists_8txt.html
  splitcal_2CMakeLists_8txt.html
  strawtubes_2CMakeLists_8txt.html
  veto_2CMakeLists_8txt.html
Owners: @ShipSoft/core-developers

feat(digi): move digiStraw to STL vector
  CHANGELOG.md
  python/shipDigiReco.py
  strawtubes/strawtubesHit.h
Owners: @ShipSoft/core-developers, @wcmartylee

fix(digi): clean up straw digitisation
  CHANGELOG.md
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

fix(digi): clean up straw digitisation
  CHANGELOG.md
  python/shipDigiReco.py
Owners: @ShipSoft/core-developers

feat(digi): move digiStraw to STL vector
  CHANGELOG.md
  python/shipDigiReco.py
  strawtubes/strawtubesHit.h
Owners: @ShipSoft/core-developers, @wcmartylee

Fix double append of tracks
  CHANGELOG.md
  python/shipPatRec.py
Owners: @ShipSoft/core-developers
