Repository ShipSoft/FairShip, changes with the owners that CODEOWNERS names for each.
All owners: @ShipSoft/core-developers, @anupama-reghunath, @antonioiuliano2, @matclim, @wcmartylee

Import ctypes for assigning data types
  muonShieldOptimization/ana_ShipMuon.py
  python/shipPatRec.py
Owners: @ShipSoft/core-developers

Updated MuonShield parameters
  muonShieldOptimization/run_fixedTarget.py
Owners: @ShipSoft/core-developers

Updated floor parameter
  muonShieldOptimization/run_fixedTarget.py
Owners: @ShipSoft/core-developers

Updated WithConstShieldField parameter
  muonShieldOptimization/run_fixedTarget.py
Owners: @ShipSoft/core-developers

Made muon shield optional
  muonShieldOptimization/run_fixedTarget.py
Owners: @ShipSoft/core-developers

Rename target_yaml and capitalise global const
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update comment
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Remove reference to removed targetOpt
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Updated SC_key parameter
  muonShieldOptimization/run_fixedTarget.py
Owners: @ShipSoft/core-developers

fixup! Rename target_yaml and capitalise global const
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

feat(geometry): Define target configuration in yaml (#724)
  CHANGELOG.md
  geometry/geometry_config.py
  geometry/target_config_old.yaml
  macro/run_simScript.py
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

update histgram comparer
  python/experimental/compare_histograms.py
Owners: @ShipSoft/core-developers

Remove all plane-related codes
  macro/flux_map.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDet_conf.py
  python/shipDigiReco.py
  python/shipPatRec.py
  python/shipStrawTracking.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubes_single.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Create StrawDecode as a function to be deployed elsewhere
  macro/flux_map.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDigiReco.py
  python/shipPatRec.py
  python/shipStrawTracking.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Fix layer box z-translation
  strawtubes/strawtubes.cxx
Owners: @wcmartylee

Fix straw ID construction
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.h
Owners: @wcmartylee

Make tracker station 1 & 2 identical to 3 & 4
  geometry/geometry_config.py
  python/shipDet_conf.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Remove plane-related variables
  geometry/geometry_config.py
Owners: @ShipSoft/core-developers

Update StrawDecode and GetStation
  macro/flux_map.py
  muonDIS/make_nTuple_Tr.py
  python/shipDigiReco.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Remove extra definition of statnb
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesPoint.cxx
Owners: @wcmartylee

clang-format
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @wcmartylee

Import ctypes for assigning data types
  muonShieldOptimization/ana_ShipMuon.py
  python/shipPatRec.py
Owners: @ShipSoft/core-developers

Remove unused strawtubes_single
  strawtubes/strawtubes_single.cxx
Owners: @wcmartylee

Use tuple for StrawDecode
  macro/flux_map.py
  muonDIS/make_nTuple_Tr.py
  muonShieldOptimization/ana_ShipMuon.py
  python/shipDigiReco.py
  python/shipPatRec.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

Add examination of valid straw detID
  python/shipPatRec.py
  strawtubes/strawtubes.cxx
Owners: @ShipSoft/core-developers, @wcmartylee

Update format
  geometry/geometry_config.py
  python/shipDet_conf.py
  strawtubes/strawtubes.cxx
  strawtubes/strawtubes.h
  strawtubes/strawtubesHit.cxx
  strawtubes/strawtubesHit.h
  strawtubes/strawtubesPoint.cxx
  strawtubes/strawtubesPoint.h
Owners: @ShipSoft/core-developers, @wcmartylee

prestrawdetector added
  CMakeLists.txt
  prestrawdetector/.prestrawdetector.cxx.swo
  prestrawdetector/CMakeLists.txt
  prestrawdetector/prestrawdetector.cxx
  prestrawdetector/prestrawdetector.h
  prestrawdetector/prestrawdetectorLinkDef.h
  prestrawdetector/prestrawdetectorPoint.cxx
  prestrawdetector/prestrawdetectorPoint.h
  python/shipDet_conf.py
Owners: @ShipSoft/core-developers

prestrawdetector added
  prestrawdetector/.prestrawdetector.cxx.swo
Owners: @ShipSoft/core-developers

More fixes for readability
  macro/run_simScript.py
  shipgen/MuDISGenerator.cxx
  shipgen/MuDISGenerator.h
Owners: @ShipSoft/core-developers

Removed dest
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

fix: ensure web-viewer isn't used for overlap check
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

fix: ensure web-viewer isn't used for overlap check
  CHANGELOG.md
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

Deploying to gh-pages from @ 8967b5349905651b4382a4fddbaee8ee902476c8 🚀
  classCosmicsGenerator.html
  classEvtCalcGenerator.html
  classFixedTargetGenerator.html
  classMuonBackGenerator.html
  classShipGeoCave.html
  classShipGoliath.html
  classTimeDetHit.html
  classecal.html
  classecalAnalysisSimple.html
  classecalClusterFinder.html
  classecalMaximumLocator.html
  classhcal.html
  classhcalAnalysisSimple.html
  classtPythia6Generator.html
  classveto.html
  md_CHANGELOG.html
  namespacerun__simScript.html
  run__simScript_8py_source.html
  search/all_15.js
  search/all_6.js
  search/files_3.js
Owners: @ShipSoft/core-developers

feat(python): Add experimental script to import Muons and Matter pkl files
  CHANGELOG.md
  python/experimental/eminem_importer.py
Owners: @ShipSoft/core-developers

MyGen added, NtupleGen updated
  shipgen/CMakeLists.txt
  shipgen/GenLinkDef.h
  shipgen/MyGenerator.cxx
  shipgen/MyGenerator.h
  shipgen/NtupleGenerator.cxx
  shipgen/NtupleGenerator.h
Owners: @ShipSoft/core-developers

Geometry tuning via csv added
  macro/run_simScript.py
  sstDecouplingTools/inputfile.root
  sstDecouplingTools/produce_ttree.C
  sstDecouplingTools/sst.csv
  sstDecouplingTools/update_from_file.py
Owners: @ShipSoft/core-developers

Geometry tuning via csv added
  macro/update_from_file.py
Owners: @ShipSoft/core-developers

Geometry tuning via csv fixed
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

MyGen fixed
  shipgen/MyGenerator.h
Owners: @ShipSoft/core-developers

Geo from csv fixed
  macro/run_simScript.py
Owners: @ShipSoft/core-developers

CODEOWNERS:

* @ShipSoft/core-developers

# By default, the software contact for a given subsystem will own the code of
# that system.

veto/* @anupama-reghunath  # Anupama Reghunath (HU Berlin)

nutaudet/* @antonioiuliano2  # Antonio Iuliano (INFN Napoli)

ecal/* @matclim  # Matei Climescu (JGU Mainz)
hcal/* @matclim
splitcal/* @matclim

strawtubes/* @wcmartylee  # Wei-Chieh Marty Lee (U Hamburg)
